In [64]:
import pandas as pd

In [65]:
df = pd.read_csv('gate_cutoff.csv')
df.head()

,Unnamed: 0,Sr No,Paper Name,Paper Code,GEN,OBC,SC/ST,Year
0,0,1,Life Sciences,XL,31.7,28.5,21.1,2020
1,1,2,Civil Engineering,CE,32.9,29.6,21.9,2020
2,2,3,Electrical Engineering,EE,33.4,30.0,22.2,2020
3,3,4,Computer Science and Information Technology,CS,28.5,25.6,19.0,2020
4,4,5,Mechanical Engineering,ME,34.0,30.6,22.6,2020

In [66]:
df = df.drop(columns = ['Unnamed: 0'])
df.rename(columns = {'Sr No':'srNo','Paper Code':'paperCode','Paper Name':'paperName','Year':'year','GEN':'gen','Code':'code','OBC':'obc','SC/ST':'sc/st'},inplace = True)
df.head()

,srNo,paperName,paperCode,gen,obc,sc/st,year
0,1,Life Sciences,XL,31.7,28.5,21.1,2020
1,2,Civil Engineering,CE,32.9,29.6,21.9,2020
2,3,Electrical Engineering,EE,33.4,30.0,22.2,2020
3,4,Computer Science and Information Technology,CS,28.5,25.6,19.0,2020
4,5,Mechanical Engineering,ME,34.0,30.6,22.6,2020

In [67]:
df['paperName'].unique()

array(['Life Sciences', 'Civil Engineering', 'Electrical Engineering',
       'Computer Science and Information Technology',
       'Mechanical Engineering', 'Petroleum Engineering',
       'Electronics and Communication Engineering',
       'Chemical Engineering', 'Chemistry', 'Biotechnology',
       'Engineering Sciences Minor',
       'Textile Engineering and Fibre Science', 'Aerospace Engineering',
       'Agricultural Engineering', 'Architecture and Planning',
       'Ecology and Evolution', 'Geology', 'Mathematics',
       'Mining Engineering', 'Metallurgical Engineering', 'Physics',
       'Production and Industrial Engineering', 'Statistics',
       'Biomedical Engineering', 'Engineering Sciences',
       'Geology and Geophysics', 'Instrumentation Engineering',
       'Electronics and Communication',
       'Computer Science & Information Technology',
       'Electronics and Communication Engineering ',
       'Instrumentation Engineering '], dtype=object)

In [68]:
filter = (df['paperName'] == 'Computer Science and Information Technology')
df1 = df[filter]
df1

,srNo,paperName,paperCode,gen,obc,sc/st,year
3,4,Computer Science and Information Technology,CS,28.5,25.6,19.00,2020
27,28,Computer Science and Information Technology,CS,29.5,26.6,19.70,2019
54,55,Computer Science and Information Technology,CS,25.0,22.5,16.60,2018
83,84,Computer Science and Information Technology,CS,25.0,22.5,16.60,2016
90,91,Computer Science and Information Technology,CS,25.0,22.5,16.67,2015

In [69]:
k = df[['year','paperName','gen','obc','sc/st']].groupby(['year','paperName'])

In [70]:
k = k.apply(lambda x:x)

In [71]:
k

    year                                    paperName    gen    obc  sc/st
0   2020                                Life Sciences  31.70  28.50  21.10
1   2020                            Civil Engineering  32.90  29.60  21.90
2   2020                       Electrical Engineering  33.40  30.00  22.20
3   2020  Computer Science and Information Technology  28.50  25.60  19.00
4   2020                       Mechanical Engineering  34.00  30.60  22.60
..   ...                                          ...    ...    ...    ...
88  2015                       Electrical Engineering  25.00  22.50  16.67
89  2015    Electronics and Communication Engineering  25.00  22.50  16.67
90  2015  Computer Science and Information Technology  25.00  22.50  16.67
91  2015                  Instrumentation Engineering  25.45  22.90  16.96
92  2015        Production and Industrial Engineering  26.82  24.14  17.88

[93 rows x 5 columns]

In [72]:
k = k.sort_values(by = ['year','gen'], ascending = [False,False])
k.style.background_gradient(cmap = 'Reds',subset=['gen','obc','sc/st'])

In [73]:
k = df[['paperName','gen','obc','sc/st']].groupby('paperName')['gen','obc','sc/st'].mean()
k = k.sort_values(by = ['gen'], ascending = [False])
k.style.background_gradient(cmap = 'Reds',subset=['gen','obc','sc/st'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.